<div class="panel padded">
  <h2>Magazinbestellung aufgeben</h2>

  <p>
    <strong>Bitte beachten Sie:</strong>
    <ul type="disc"><li>Bestellungen von Medien, die im Magazin der Bibliothek aufgestellt sind, werden montags bis freitags zwischen 7.30 und 18.30 Uhr sowie samstags zwischen 9.00 und 16.30 Uhr bearbeitet und in der Regel innerhalb einer Stunde für Sie in der Ortsleihe bereitgestellt.</li><li>Außerhalb dieser Zeiten aufgegebene Bestellungen werden am nächsten Werktag bearbeitet.</li><li>Das Abholen bereitgestellter Medien an der Ortsleihtheke ist während der gesamten <a href="http://www.ub.uni-paderborn.de/oeffnungszeiten.shtml">Öffnungszeiten </a>der Bibliothek möglich.</li></ul>
  </p>

  <div>
    <%= render 'alerts', locals: { flash: flash } %>
  </div>

  <div class="row">
    <div class="span6">
      <%= form_tag closed_stack_orders_path, method: :post, class: 'h-inset form-horizontal' do %>
        <fieldset>
          <legend>Buch</legend>

          <% if @m1 == 'BYH1141' %>
            <div class="alert alert-error">
              ACHTUNG!!! Sie bestellen gerade ein Mikrofiche. In diesem Fall
              tragen Sie bitte unbedingt den geünschten Titel des Werkes ein.
            </div>
          <% end %>

          <div class="control-group">
            <label class="control-label" for="m1">Signatur</label>
            <div class="controls">
              <input class="span2" type="text" id="m1" name="m1" placeholder="Signatur" value="<%= @m1 %>">
            </div>
          </div>
          <% if @m1 == 'BYH1141' %>
            <div class="control-group">
              <label class="control-label" for="k1">Titel</label>
              <div class="controls">
                <input class="span2" type="text" id="k1" name="k1" placeholder="Titel" value="<%= @k1 %>">
              </div>
            </div>
          <% end %>
        </fieldset>

        <div class="form-actions centered">
          <button type="submit" class="btn btn-primary">Buch jetzt bestellen</button>
        </div>
      <% end %>
    </div>

    <div class="span6">
      <%= form_tag closed_stack_orders_path, method: :post, class: 'h-inset form-horizontal' do %>
        <fieldset>
          <legend>Zeitschrift</legend>

          <div class="control-group">
            <label class="control-label" for="z1">Signatur</label>
            <div class="controls">
              <input class="span2" type="text" id="z1" name="z1" placeholder="Signatur" value="<%= @z1 %>">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="j1">Jahr</label>
            <div class="controls">
              <input class="span2" type="text" id="j1" name="j1" placeholder="Jahr" value="<%= @j1 %>">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="b1">Band</label>
            <div class="controls">
              <input class="span2" type="text" id="b1" name="b1" placeholder="Band" value="<%= @b1 %>">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="s1">Seite</label>
            <div class="controls">
              <input class="span2" type="text" id="s1" name="s1" placeholder="Seite" value="<%= @s1 %>">
            </div>
          </div>

          <div class="control-group" style="display: <%= @volume_error ? 'block' : 'none' %>">
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" name="volume_check" value="true" checked>
                Jahrgangsprüfung durchführen
              </label>
            </div>
          </div>

        </fieldset>

        <div class="form-actions centered">
          <button type="submit" class="btn btn-primary">Zeitschrift jetzt bestellen</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
