<% if ENV["TEST_SERVER_WARNING"] == "true" -%>
<p><strong>*** TESTBESTELLUNG * BITTE IGNORIEREN ***</strong></p>
<% end -%>

<h3>NEUE BESTELLUNG (<%= l(@order.created_at, format: "%d.%m.%Y, %H:%M Uhr") %>)</h3>

<hr>

<p>
  STRICHCODE: <%= @order.user.ilsusername %><br>
  ID: <%= @order.user.ilsuserid %><br>
  NAME: <%= @order.user.name %><br>
  E-MAIL: <%= @order.user.email_address %><br>
</p>

<p>
  <strong>SIGNATUR: <%= @order.signature %></strong><br>
  TITEL: <%= @order.title.presence || '–' %><br>
</p>

<% if @order.loan_status.to_s == "reshelving" %>
  <p>
    <strong>LEIHSTATUS: <%= "Wird zurückgestellt (Medium ist mögl. nicht am Standort)" %></strong>
  </p>
<% end %>


<img src="<%= @order.barcode -%>">

