<p>Sehr geehrte(r) <%= @order.user.name %> (<%= @order.user.ilsusername %>),</p>

<p>vielen Dank für Ihre Bestellung für das folgende Medium<p>

<ul>
  <li>Signatur: <strong><%= @order.signature %></strong></li>
  <li>Titel: <strong><%= @order.title.presence || '–' %></strong></li>
</ul>

<p>am <%= l(@order.created_at, format: "%d.%m.%Y, %H:%M Uhr") %>.</p>

<p>Die Bestellung ist KEINE RESERVIERUNG und es erfolgt vor der Bereitstellung kein Abgleich mit anderen Bestellungen für das gleiche Medium. D.h. es ist möglich, dass wir ein bestelltes Medium nicht für Sie bereitstellen können.</p>

<p>Bitte beachten Sie: Diese Mail ist nur die Bestätigung Ihrer Bestellung. Sobald das bestellte Medium für Sie bereitsteht, erhalten Sie eine Bereitstellungsnachricht.</p>

<p><strong>Kommen Sie erst in die Bibliothek, wenn Sie die Bereitstellungsnachricht erhalten haben - sie dient auch als Berechtigung für den Zutritt und muss beim Einlass vorgezeigt werden.</strong></p>

<p>Für Rückfragen stehen wir Ihnen gerne zur Verfügung.</p>

<p>Mit freundlichen Grüßen</p>

<p>Ihre Universitätsbibliothek</p>

<hr>
<p>
Universitätsbibliothek Paderborn<br>
Dezernat Benutzung & Service<br>
Sachgebiet Ortsleihe<br>
Warburger Str. 100<br>
33098 Paderborn<br>
Tel. 05251 / 60-2012<br>
E-Mail: ortsleihe@ub.uni-paderborn.de<br>
WWW: http://www.ub.uni-paderborn.de<br>
</p>
